.App {
  text-align: center;

}

div {
  font-size: 9rem;
  font-weight: bold;

}

.black {
  color: white;
}

.white {
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

section {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  padding-inline: 2rem;
  align-items: center;
}



.rect {}


button {}


.domain {
  color: pink;
}

.tick {


  line {}

  text {

    font-size: 5px;
  }
}

svg {
  height: max(50%, 40rem);
  width: 80%;
  background: firebrick;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
