.App {
  text-align: center;

}

div {
  font-size: 9rem;
  font-weight: bold;

}

.disabled {
  cursor: wait
}

h1 {
  font-size: 2rem;
}

.black {
  color: white;
}

.white {
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  padding-inline: 2rem;
  align-items: center;
}



.controls {
  display: flex;
  flex-direction: column;
  background: hsl(220, 13, 25, 1);
  padding: 1rem;
  width: min(80%, 30rem)
}

.algo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding-block: 2rem;
  padding-inline: 10rem;
}

label {
  font-size: 1rem;
}

select {
  font-size: 1.5rem;
  border: none;
  font-weight: bold;
  padding-inline: 5px;
  box-shadow: 2px 2px 3px 1px #BF2f2f;

  &::after {
    width: 16px
  }
}

p {
  font-size: 1rem;
  margin-block: 1rem;
}


button {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  color: white;
  background-color: firebrick;
  padding-inline: 1rem;
  padding-block: 0.8rem;
  box-shadow: 0;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: hsl(0, 68, 30, 1)
  }

  &:disabled {

    background-color: hsl(0, 68, 10, 1);
    color: grey;
    cursor: wait;
  }
}

input[type=range] {
  height: 2rem;
  width: 100%;
  background: none;


  &:disabled {
    &.slider {
      display: none;
    }

    &::-moz-range-thumb {

      background: hsl(0, 68, 10, 1);
      cursor: default;
      color: black;
    }

    &::-moz-range-track {

      background: grey;
      cursor: default;
    }
  }
}


input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #fFFFFF;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid hsl(0, 68, 30, 1);
  height: 30px;
  width: 1rem;
  border-radius: 0px;
  background: firebrick;
  cursor: pointer;

}


.domain {
  color: pink;
}

.buttons {
  display: flex;
  gap: 2rem;
  align-self: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tick {
  text {

    font-size: 5px;
    display: none
  }
}

.white {
  background-color: white;
  color: black;
}


svg {
  height: max(50%, 40rem);
  width: min(90%, 80vw);
  background: firebrick;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
